.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.social__item {
    list-style-type: none;
}

.social__link > svg {
    fill: var(--secondary-gray);
    height: 2.25rem;
    margin-left: ;
}

.social__link > svg:hover {
    fill: var(--primary-green);
}