:root {
  --primary-green: #64ffda;
  --secondary-gray: #ccd6f6;

  /* font sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
}

/* General Styles */
html {
  font-family: system-ui;
}

body {
  background-color: #0a192f;
  color: #8892b0;
}

/* Remove Default Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.highlight {
  color: var(--primary-green);
}

.underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--primary-green), var(--primary-green));
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

/* Layout */
main {
  max-width: 24rem;
  margin: 0 auto;
}

/* Medium */
@media (min-width: 640px) {
  main {
    max-width: 30rem;
  }
}

/* Large */
@media (min-width: 768px) {
  main {
    max-width: 40rem;
  }
}

/* XL */
@media (min-width: 1024px) {
  main {
    max-width: 55rem;
  }
}

/* 2XL */
@media (min-width: 1280px) {
  main {
    max-width: 70rem;
  }
}
